<div>
  <div class="row">
    <div class="col-4 offset-4 mt-5">
      <app-repositories-filter (search)="search($event)"></app-repositories-filter>
    </div>
  </div>
  <div class="row" *ngIf="!!searchedUsername">
    <div class="col-4 offset-4 mt-5">
      <div class="text-center" *ngIf="isLoadingRepositories" data-test-id="loadingSpinner">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="text-danger" *ngIf="!isLoadingRepositories && !!errorMessage" data-test-id="errorMessage">{{errorMessage}}</div>
      <app-repositories-list *ngIf="!isLoadingRepositories && !errorMessage" [userName]="searchedUsername" [repositories]="repositories" data-test-id="repositoriesList"></app-repositories-list>
    </div>
  </div>
</div>
