<span *ngIf="!hasBranches" data-test-id="noBranchesMessage">This repository has no branches.</span>

<h5 class="card-title" *ngIf="hasBranches" data-test-id="header">Branches: {{branches.length}}</h5>
<ul class="list-group list-group-flush">
  <li *ngFor="let branch of branches; index as i" class="list-group-item" data-test-id="branchData">
    {{i+1}}) {{branch.name}} (last commit: {{branch.lastCommitSha}})
  </li>
</ul>
