<form [formGroup]="form">
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Username</label>
      <input class="form-control" id="username" data-test-id="username" formControlName="username" autofocus>
      <small data-test-id="usernameErrorMessage" class="form-text text-danger" *ngIf="form.controls.username.touched && form.controls.username.invalid">
        The field is required.
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary float-right" data-test-id="submitButton" [disabled]="form.invalid" (click)="submit()">Find repositories</button>
</form>
