<h3>Repositories of user {{userName}}: <span *ngIf="hasRepositories">{{repositories.length}}</span></h3>
<span *ngIf="!hasRepositories" data-test-id="noRepositoriesMessage">This user has no repositories.</span>

<div class="card mb-3" *ngFor="let repository of repositories; index as i" data-test-id="repositoryData">
  <div class="card-header" data-test-id="repositoryHeader">
    {{i+1}}. {{repository.name}} (owner: {{repository.owner}})</div>
  <div class="card-body">
    <app-branches-list [branches]="repository.branches"></app-branches-list>
  </div>
</div>
